# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data - never commit datasets
data/raw/
data/cover/
data/stego/
data/processed/

# Results / generated outputs
results/

# Image files
*.pgm

# PyTorch model files
*.pt
*.pth

# Environment / secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db